.header {
    background: var(--banner-header-color);
    border-top-left-radius: var(--big-border-radius);
    border-top-right-radius: var(--big-border-radius);

    &__container{
        height: 111px;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        .img {
            width: 125px;
            filter: drop-shadow(1px 3px 1.5px #000000);
        }
    }

    &__redirection {
        display: none;
    }
}

@media only screen and (min-width: 1400px) {
    .header {
        &__logo {
            .img {
                padding-top: 5px;
                width: 195px;
            }
        }

        &__redirection {
            display: block;
            text-align: center;

            .subtitle {
                font-size: var(--small-font);
            }

            .img {
                width: 79px;
                padding-top: 8px;
            }
        }
    }
}