.main-question {
  height: calc(100% - 111px);
  border-bottom-left-radius: var(--big-border-radius) ;
  border-bottom-right-radius: var(--big-border-radius) ;
  background: var(--background-primary-color);
  background: url('./../../assets/images/image_1.jpg') no-repeat;
  background-size: cover;
  background-position: top;

  .quizz-container {
    display: flex;
    flex-direction: column;

    .quizz-progression {
      display: flex;
      justify-content: center;
      padding-top: 55px;
      padding-bottom: 40px;
    }

    .quizz-texte {
      padding-bottom: 40px;
      text-align: center;

      h3 {
      font-size: var(--normal-font);
      font-weight: var(--nomarl-font-weight);
      }
    }
  }
}