main {
  height: calc(100% - 111px);

  .main-question {
    height: 100%;
    border-bottom-left-radius: var(--big-border-radius) ;
    border-bottom-right-radius: var(--big-border-radius) ;
    background: var(--background-primary-color);
    background-size: cover !important;
    background-position: top !important;

    &--background_1 {
      background: url("@/assets/images/image_1.webp") no-repeat;
    }

    &--background_2 {
      background: url("@/assets/images/image_2.webp") no-repeat;
    }

    &--background_3 {
       background: url("@/assets/images/image_3.webp") no-repeat;
     }

    &--background_4 {
      background: url("@/assets/images/image_4.webp") no-repeat;
    }

    &--background_5 {
      background: url("@/assets/images/image_5.webp") no-repeat;
    }

    &--background_6 {
      background: url("@/assets/images/image_6.webp") no-repeat;
    }

    &--background_7 {
      background: url("@/assets/images/image_7.webp") no-repeat;
    }

    &--background_8 {
      background: url("@/assets/images/image_8.webp") no-repeat;
    }

    .quizz-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;

      .quizz-progression {
        display: flex;
        justify-content: center;
        padding-top: 55px;
        padding-bottom: 40px;
      }

      .quizz-texte {
        padding-bottom: 40px;
        text-align: center;

        h3 {
          font-size: var(--normal-font);
          font-weight: var(--nomarl-font-weight);
          text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.8);
        }
      }

      .quizz-container-responses {

        .quizz-choise-responses {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 30px;

          .quizz-response {
            width: 282px;
            height: 64px;
            font-style: normal;
            border-radius: var(--small-border-radius);
            border: 1px solid var(--circle-primary-color);
            color: var(--first-color);
            background: var(--response-primary-color);
            font-size: var(--normal-font);
            font-weight: var(--nomarl-font-weight);
            cursor: pointer;
          }

          .quizz-response--correct {
            background-color: var(--response-sucess-color) !important;
          }

          .quizz-response--incorrect {
            background-color: var(--response-danger-color) !important;
          }
        }
      }

      .quizz-command {
        padding-top: 35px;
        padding-bottom: 40px;
        height: 100%;
        display: flex;
        justify-content: center;

        .quizz-next-button {
          width: 176px;
          height: 36px;
          font-style: normal;
          cursor: pointer;
          border-radius: var(--small-border-radius);
          border: 2px solid var(--border-color);
          background: var(--response-primary-color);
          color: var(--first-color);
          font-size: var(--small-font);
          font-weight: var(--nomarl-font-weight);
        }
      }
    }
  }

  .main-result {
    height: 100%;
    background-size: cover !important;
    background-position: top !important;
    background: url("@/assets/images/image_final.webp");
    border-bottom-left-radius: var(--big-border-radius) ;
    border-bottom-right-radius: var(--big-border-radius) ;
  }
}

@media only screen and (min-width: 1400px) {
  main {
    .quizz-container {
      .quizz-progression {
        padding-top: 60px;
        padding-bottom: 60px;
      }

      .quizz-texte {
        padding: 0 45px;
        padding-bottom: 65px;

        h3 {
          font-size: 24px;
        }
      }
    }
    .quizz-container-responses {
      display: flex;
      justify-content: center;

      .quizz-choise-responses {
        flex-direction: row !important;
        flex-wrap: wrap;
        gap: 40px !important;
        width: 50%;
        justify-content: center;
      }
    }

    .quizz-command {
      .quizz-next-button {
        width: 253px !important;
        height: 60px !important;
      }
    }
  }
}