.main-question {
  height: calc(100% - 111px);
  border-bottom-left-radius: var(--big-border-radius) ;
  border-bottom-right-radius: var(--big-border-radius) ;
  background: var(--background-primary-color);
  background-size: cover !important;
  background-position: top !important;

  .quizz-container {
    display: flex;
    flex-direction: column;

    .quizz-progression {
      display: flex;
      justify-content: center;
      padding-top: 55px;
      padding-bottom: 40px;
    }

    .quizz-texte {
      padding-bottom: 40px;
      text-align: center;

      h3 {
      font-size: var(--normal-font);
      font-weight: var(--nomarl-font-weight);
      }
    }

    .quizz-responses {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;

      .quizz-response {
        width: 282px;
        height: 64px;
        border-radius: 10px;
        border: 1px solid var(--circle-primary-color);
        background: var(--response-primary-color);
        font-style: normal;
        font-size: var(--normal-font);
        font-weight: var(--nomarl-font-weight);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .quizz-response--correct {
        background-color: var(--response-sucess-color) !important;
      }

      .quizz-response--incorrect {
        background-color: var(--response-danger-color) !important;
      }
    }

    .quizz-command {
      padding-top: 10px;
      .quizz-next-button {

      }
    }
  }
}