.about__card {
    width: 200px;
    height: 50px;
    background-color: var(--banner-header-color);
    border-radius: var(--extra-boder-radius);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .about__social {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        background: var(--icon-social-color);

        .icon {
            color: var(--primary-color);
        }
    }
}

@media only screen and (min-width: 1400px) {
    .about__card {
        width: 50px;
        height: 200px;
        flex-direction: column;
    }
}