.page-container {
    height: 95%;
    width: 95%;
    border-radius: 45px;
    border: 1px solid #D8FF19;
    background: url('../../assets/background/backgroung_1.jpg') no-repeat;
    background-size: cover;
    background-color: var(--background-primary-color);
    background-position: right 20% top 10%;

    &--hidden {
        background: var(--background-linear-color);
    }
}

@media only screen and (min-width: 800px) {
    .page-container {
        background-color: var(--background-primary-color);
        background: url('../../assets/background/backgroung_1.jpg') no-repeat;
        background-size: cover;
        background-position: right 20% top 10%;
    }
}

@media only screen and (min-width: 1400px) {
    .page-container {
        background-color: var(--background-primary-color);
        background: url('../../assets/background/backgroung_1.jpg') no-repeat;
        background-size: cover;
        background-position: right 20% top 10%;
    }
}