.page-container {
    height: 95%;
    width: 95%;
    border-radius: 45px;
    border: 1px solid #D8FF19;
    background: url('@/assets/background/backgroung_1.webp') no-repeat;
    background-size: cover;
    background-color: var(--background-primary-color);
    background-position: right 20% top 10%;

    .quizz-right {
        display: none;
    }

    &--hidden {
        background: var(--background-linear-color) !important;
    }
}

@media only screen and (min-width: 800px) {
    .page-container {
        background-color: var(--background-primary-color);
        background: url('@/assets/background/backgroung_1.webp') no-repeat;
        background-size: cover;
        background-position: right 20% top 10%;
    }
}

@media only screen and (min-width: 1400px) {
    .page-container {
        position: relative;
        background-color: var(--background-primary-color);
        background: url('@/assets/background/backgroung_1.webp') no-repeat;
        background-size: cover;
        background-position: right 20% top 10%;

        .quizz-right {
            position: absolute;
            bottom: 12px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0 20px;

            .logo-riot {
                display: flex;
                align-items: flex-end;
                padding-bottom: 5px;
            }

            .quizz-riot-right {
                width: 20%;
            }

            p {
                font-size: var(--small-font);
            }
        }
    }
}